[Desktop Entry]
Name=Nitrux
Name[es_MX]=Nitrux
Comment=Nitrux Look and Feel for Plasma 5.
Comment[es_MX]=Look and Feel Nitrux para Plasma 5.
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Uri Herrera
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=uri_herrera@nxos.org
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=org.kde.nitrux.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://nxos.org
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
